@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-display: swap;
}

@font-face {
  font-display: swap;
}

a.active {
  @apply text-teal-400
}

.fadeAnimate {
  animation: .5s fadeAnimate ease-in-out;
}

.scroller::-webkit-scrollbar {
  cursor: pointer;
  height: 10px;
  border: 2px solid #222;
}


.scroller::-webkit-scrollbar-track {
  background-color: white;
}

.scroller::-webkit-scrollbar-thumb {
  background-color: #222;
}

.scroller::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}



.custom-loader {
  width: 50px;
  height: 12px;
  background:
    radial-gradient(circle closest-side, #FFFFFF 90%, #0000) 0% 50%,
    radial-gradient(circle closest-side, #FFFFFF 90%, #0000) 50% 50%,
    radial-gradient(circle closest-side, #FFFFFF 90%, #0000) 100% 50%;
  background-size: calc(100%/3) 100%;
  background-repeat: no-repeat;
  animation: d7 1s infinite linear;
}

.blur-content {
  background-image: linear-gradient(to right, rgba(31.5, 10.5, 10.5, 1) calc((50vw - 170px) - 340px), rgba(31.5, 10.5, 10.5, 0.84) 30%, rgba(31.5, 10.5, 10.5, 0.84) 100%);
}

@keyframes d7 {
  33% {
    background-size: calc(100%/3) 0%, calc(100%/3) 100%, calc(100%/3) 100%
  }

  50% {
    background-size: calc(100%/3) 100%, calc(100%/3) 0%, calc(100%/3) 100%
  }

  66% {
    background-size: calc(100%/3) 100%, calc(100%/3) 100%, calc(100%/3) 0%
  }
}

@keyframes fadeAnimate {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}